@import "custom-variables";

body{
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

img{
  max-width: 100%;
  border: none;
}

*, *:focus {
  outline: none !important;
}

*:before, *:after {
  user-select: none;
}

button{
  border: none;
  cursor: pointer;
}
